<%= link_to "Back to Products", "/products" %>
<p><%= link_to "Edit", "/products/#{@product.id}/edit" %></p>
<p><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></p>

<p><%= @product.name %>, </p>
<%=  @product.description %>
<%= @product.price_in_cents %>

<h2> Comments </h2>
<ul>

<% @product.comments.each do |comment| %>
<li>

<p> <%= comment.comment %> says:</p>
  </li>
<% end %>
</ul>
